@import url('https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap');

$colors: (primary: rgb(0, 0, 255), primaryLight: lighten(rgb(0, 0, 255), 40%), primaryDark: darken(rgb(0, 0, 255), 10%), accent: rgb(255, 218, 149), light: rgb(255, 255, 255), textWhite: rgb(255, 255, 255));

@function color($colorName) {
    @return map-get($map: $colors, $key: $colorName)
}

;

$padding: (header: 1.5rem, card: 1.5rem, bottom: 1rem);

@function padding($paddingName) {
    @return map-get($map: $padding, $key: $paddingName)
}

;

$border: (card:1rem, span:100%);

@function border($borderName) {
    @return map-get($map: $border, $key: $borderName)
}

;

$boxShadow: (5: 0 1px 3px rgba(0, 0, 0, 0.3));

@function boxShadow($boxShadowName) {
    @return map-get($map: $boxShadow, $key: $boxShadowName)
}

;

$headSizes: (great: 2.5rem);

@function headSizes($headSizesName) {
    @return map-get($map: $headSizes, $key: $headSizesName)
}

;

$desktop: 740px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body,
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: Manjari;
    margin: 0;
    display: flex;
    flex-direction: column;

    #bg {
        clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 100%, 0 0);
        background: color(primary);
        width: 100vw;
        height: 100%;
        position: absolute;
        z-index: -1;
        transition: all .5s;

        @include desktop {
            clip-path: polygon(0 0, 80% 0%, 50% 100%, 0% 100%);
        }
    }

    header a {
        color: color(textWhite);
        text-decoration: none;
        padding: padding(header);
        display: block;
        text-transform: uppercase;
    }

    main {
        @include desktop {
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "primary cards";
            place-self: center;
        }

        section#card {
            background: color(light);
            padding: padding(card);
            margin: .5rem auto;
            border-radius: border(card);
            box-shadow: boxShadow(5);
            max-width: 70vw;

            @include desktop {
                grid-area: cards;
                height: fit-content;
                place-self: center;
                margin: 1rem;
                width: 80%;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 1rem 0;

                    span {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        background-color: color(primaryLight);
                        border-radius: border(span);
                        margin-right: 10px;
                    }

                    strong {
                        display: inline-block;
                        margin-left: max($numbers: 40px);
                        margin-top: 9px;
                        font-size: .8rem;
                    }
                }
            }
        }

        section#primary {
            color: color(textWhite);
            padding: padding(card);
            text-align: center;

            @include desktop {
                grid-area: primary;
                text-align: left;
                margin: 1rem;
            }

            h1 {
                font-size: headSizes(great);
                text-transform: uppercase;
                margin: .5rem auto;
            }

            a {
                color: color(primaryDark);
                border-radius: border(card);
                text-decoration: none;
                background-color: color(light);
                text-transform: uppercase;
                font-weight: bold;
                display: block;
                text-align: center;
                margin: 30px auto 0 auto;
                padding: padding(bottom);
                max-width: 70vw;
                box-shadow: boxShadow(5)
            }
        }
    }
}