.portfolio {
  text-align: center;
  background-color: $light-gray;
  padding: 5em 0;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  @include container($max-width: 50em);
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  flex: 1 1 14rem;

  img {
    display: block;
    width: 100%;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6em;
    background-color: rgba($accent, 0.75);
    color: $white;
    text-align: left;
    transition: top ease-in-out 250ms;
  }

  &:hover figcaption,
  &:focus figcaption {
    top: 0;
  }
}

.portfolio-title {
  color: $white;
  font-size: 2rem;
  margin-bottom: auto;
}

.portfolio-link {
  color: $white;
  font-weight: $fw-bold;
  font-size: 0.9rem;
  text-decoration: none;
  border-bottom: 2px solid $white;
  align-self: flex-start;

  .featured & {
    font-size: 1.1rem;
  }

  &::after {
    content: url(../../img/arrow-white.svg);
    width: 0.8em;
    display: inline-block;
    margin-left: 0.5em;
  }
}

@supports (display: grid) {
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .portfolio-description {
      display: none;
    }
  }

  .portfolio-item.featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .featured {
    .portfolio-title {
      font-size: 3.5rem;
    }

    .portfolio-description {
      display: block;
    }
  }
}
